* {
    margin:0;
    padding:0;
    background:white;
    letter-spacing: .5px;
    font-family:sans-serif;
}
section {
    background-color: green;
    text-align:center;
    width: 95%;
    border: 1px solid;
    border-radius:3px;
    margin:auto;
    padding: 10px;
}

#list, #one, #two, #three {
    padding: 0px;
}

ul {
    margin:0,5px;
}

li {
    border:2px solid white;
    margin:auto;
    border-radius:2px;
    width: 95;
    list-style-type: none;
    background:transparent;
}

#one li {

    background-color: orangered;
}

#two li {
     
    background-color: orange;
}

#three li {
    background-color: gold;
}

.ion-checkmark {
    color: darkgreen;
    font-size: 1em;
    border:1px solid white;
}

.ion-checkmark:hover {
    cursor:pointer
}

.ion-edit {
    color:sandybrown;
    font-size:1em;
    border:1px solid white;
}

.ion-edit:hover {
    cursor:pointer
}

.ion-trash-b {
    color: orangered;
    font-size: 1em;
    border:1px solid white;
}

.ion-trash-b:hover {
    cursor:pointer
}

.completed {
    float:left;
    margin-left:5px;
}

.edit, .delete {
    float:right;
    margin-right:5px;
}

.complete {
    text-decoration: line-through;
}

.box {
    background:repeating-linear-gradient(
        45deg, 
        darkgreen,
        palegreen 5px,
        white 5px,
        #333 10px);
    padding:6px;
    margin:10px;
    border-radius: 3px;
}
.main {
    display: inline-block;
    padding:5px;
}

.points {
    display: inline-block;
    margin: 15px 5%;
    background-color:limegreen;
    border: 2px groove white;
    padding:5px;
    border-radius:3px;
    font-family: 'Limelight', cursive;
}

span {
    padding:5px;
    font-size: 1.2em;
    background:transparent;
     color: white;
      text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.p1 span {
    color: orangered;
    font-size:1.2em;
}

.p2 span{
    color: orange;
    font-size: 1.2em;
}

.p3 span{
    color: gold;
    font-size:1.2em;
}
